body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#open {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2rem;
    margin: 5px 5px 5px 10px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
    align-items: center;
}

.sideBar {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sideBar.open {
    transition: max-width 1s ease-in, min-width 0.7s ease-out;
    max-width: 50vw;
    min-width: 250px;
}

.sideBar.closed {
    transition: min-width 0.7s ease-out;
    max-width: 0vw;
    min-width: 0vw
}

.sideBar p, .sideBar a, .sideBar a:visited {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.sideBar p:hover, .sideBar a:hover {
    color: #726f6f;
}

.sideBar p.roombtn {
    margin-bottom: 10px;
}

.sideBar .menu {
    flex-grow: 1;
}

.dropdown_content {
    transition: height 0.7s ease-in-out;
    height: 0px;
    background-color: #3b3838;
    overflow-y: hidden;
}

.sideBar #close {
    position: fixed;
    margin: 10px;
    align-self: flex-end;
    font-size: 35px;
    z-index: 2;
}

.image {
    position: relative;
}

.image img {
    max-width: 100vw;
    max-height: 70vh;
    display: block;
}

.roompopup {
    visibility: hidden;
    position: absolute;
    width: fit-content;
    background-color: white;
    padding: 4px;
    box-shadow: 0 0 2px 0px #000000;
    border-radius: 10px;
}

@media only screen and (orientation:portrait) {
    .image {
        transform: rotate(-90deg);
    }

    .image img {
        max-width: 70vh;
        max-height: 100vw;    
    }

    .roompopup {
        transform: rotate(90deg);
    }
}

#roomname {
    display: inline;
}

#closepopup {
    position: absolute;
    right: 0%;
    padding-right: 4px;
    cursor: pointer;
}

.status {
    float: right;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 19px;
    margin-left: 0.5rem;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 19px;
    background-color: rgb(102, 98, 98);
    transition: 0.2s linear;
    border: 1px solid black;
}

.slider::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: black;
    transition: 0.2s linear;
}

input:checked + .slider {
    background-color: white;
}

input:checked + .slider::before {
    transform: translateX(13px);
}

.statistics {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%
}

.log {
    max-height: 80%;
    max-width: 100%;
    overflow-y: scroll;
}

.log p {
    white-space: pre-wrap;
}

.canvas-background {
    background-image: url('../media/images/blueprint.png');
}

#drawRoomLink {
    display: none;
}

.admin-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
    max-width: 600px;
    overflow-y: scroll;
}

.admin-menu div {
    min-width: 5rem;
    padding: 1rem;
    text-align: center;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


a:visited {
    color: rgb(102, 98, 98)
}

a {
    color: rgb(102, 98, 98);
}
