body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, rgb(0,0,0), rgb(255,255,255));
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#open {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    margin: 5px 5px 5px 10px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.sideBar {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.sideBar.open {
    transition: max-width 1s ease-in, min-width 0.7s ease-out;
    max-width: 50vw;
    min-width: 250px;
}

.sideBar.closed {
    transition: min-width 0.7s ease-out;
    max-width: 0vw;
    min-width: 0vw
}

.sideBar p, .sideBar a, .sideBar a:visited {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.sideBar p {
    margin: 20px;
}

.sideBar p:hover, .sideBar a:hover {
    color: rgb(114, 111, 111);
}

.sideBar .menu {
    flex: 1;
}

.menu label, .roompopup label {
    cursor: pointer;
}

.dropdown_content {
    transition: height 0.7s ease-in-out;
    height: 0px;
    background-color: #3b3838;
    overflow: hidden;
    min-width: 250px;
}

.sideBar #close {
    margin: 10px;
    align-self: flex-end;
    font-size: 2rem;
    z-index: 2;
}

.image {
    position: relative;
    cursor: pointer;
}

.image img {
    max-width: 100vw;
    max-height: 70vh;
    display: block;
}

.roompopup {
    visibility: hidden;
    position: absolute;
    width: fit-content;
    background-color: white;
    padding: 4px;
    box-shadow: 0 0 2px 0px #000000;
    border-radius: 10px;
    cursor: default;
}

@media only screen and (orientation:portrait) {
    .image {
        transform: rotate(-90deg);
    }

    .image img {
        max-width: 70vh;
        max-height: 100vw;    
    }

    .roompopup {
        transform: rotate(90deg);
    }
}

#roomname {
    font-weight: bold;
}

#closepopup {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 4px;
    cursor: pointer;
    font-size: 1.5rem;
}

.status {
    float: right;
    margin-left: 0.5rem;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 19px;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 19px;
    background-color: rgb(102, 98, 98);
    transition: 0.2s linear, visibility 0s;
    border: 1px solid black;
}

.slider::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: black;
    transition: 0.2s linear, visibility 0s;
}

.toggle input:checked + .slider {
    background-color: white;
}

.toggle input:checked + .slider::before {
    transform: translateX(13px);
}

ul.nav_white {
    padding: 10px 16px;
    list-style: none;
}

ul.nav_white li {
    display: inline;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

ul.nav_white li+li:before {
    padding: 8px;
    color:  rgb(255, 255, 255);
    content: "/";
}

ul.nav_white li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul.nav_white li a:hover {
    color: rgb(114, 111, 111);
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    min-height: 0;
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    max-width: 600px;
}

form#login {
    max-width: 400px;
}

input, select, button {
    height: 1.5rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 5px;
    margin-bottom: 1.5rem;
    box-sizing: content-box;
}

input[type="checkbox"] {
    height: auto;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
    cursor: pointer;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: rgb(133, 133, 133);
}

form label, form a, .roompopup label {
    font-size: 0.9rem;
}

form a {
    margin-bottom: 1.5rem;
}

.action-buttons {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 300px;
    align-self: flex-end;
    justify-content: space-between;
}

.draw-room .action-buttons {
    flex-flow: row nowrap;
    align-self: unset;
    max-width: fit-content;
}

.draw-room p {
    color: white;
    margin: 0;
}

.action-buttons input, .action-buttons button {
    margin: 0 0 0.5rem;
    width: 120px;
    flex: 1 0 auto;
}

#ip-addresses, .log {
    background-image: linear-gradient(to top, rgb(100,100,100), rgb(255,255,255));
    border-radius: 5px;
}

.log {
    height: 95%;
    overflow-y: auto;
    margin: 0;
}

.log p {
    white-space: pre-wrap;
}

.draw-room {
    flex-flow: column nowrap;
}

.canvas-background {
    position: relative;
}

.canvas-background img {
    max-width: 100vw;
    max-height: 70vh;
}

.canvas-background #draw-room {
    position: absolute;
    top: 0;
    left: 0;
}

#drawRoomLink {
    visibility: hidden;
}

.admin-menu {
    align-items: baseline;
    justify-content: space-evenly;
    max-width: 600px;
}

.admin-menu div {
    min-width: 12rem;
    padding: 1rem;
    text-align: center;
    margin: auto;
}

a:visited {
    color: rgb(0, 0, 0)
}

a {
    color: rgb(0, 0, 0);
}

.apiexplorer {
    flex-flow: column nowrap;
}

.apiexplorer form {
    flex: 1;
}

.apiexplorer input#id {
    width: 4ch;
}

.apiexplorer span#inclDevices {
    display: none;
}

.apiexplorer-body {
    flex: 1;
    padding-bottom: 10px;
}

.apiexplorer textarea {
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}

.apiexplorer-result {
    flex: 3 1 0;
    width: 100%;
    min-height: 0;
}

.apiexplorer pre {
    background-color: white;
    height: 100%;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0;
}

.modal {
	position: fixed;
	z-index: 100;
	padding: 60px 0 40px 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, .3);
}

.popup {
	width: 40%;
  	background-color: rgb(255, 255, 255);
	margin: auto;
	padding: 15px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	box-shadow: 3px 3px 20px 6px rgba(0,0,0,0.8);	
}

.close {
	color: rgb(0, 0, 0);
	float: right;
	font-size: 2rem;
	font-weight: 700
}

.close:focus,
.close:hover {
	color: #000;
	cursor: pointer
}